{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Register </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
</head>
<body class="h-screen font-sans bg-gray-900">
    <div class="container mx-auto h-full flex flex-1 justify-center items-center">
      <div class="w-full max-w-lg">
        <div class="leading-loose">
            <form method="POST" class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
                {% csrf_token %}
                <p class="text-gray-800 font-medium text-center text-lg font-bold">Register</p>
                {{form}}
                <div class="mt-4 items-center justify-between">
                    <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Daftar Akun</button>
                  </div>
                <a class="underline underline-offset-1" href="{% url 'base:login' %}">Login</a>
            </form>
        </div>
      </div>
    </div>
    </body>
</html>