{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="pt-5 pb-10 bg-slate-100">
    <div class="container">
        <div class="w-full px-12 flex justify-between">
            <div class="mb-5">
                <h4 class="font-bold text-3xl text-primary mb-2">Buku Favorit</h4>
                <h2 class="font-semibold text-dark text-xl mb-4">Daftar Buku Favorit</h2>
            </div>
        </div>
        {% for book in books %}
        <div class="view">
            <div class="py-2">
                <div class="mx-40 px-7 py-6 flex justify-between items-center rounded-md shadow-md overflow-hidden">
                    {% for image in book.images %}
                    <div class="flex items-center justify-center">
                        <img src="{{ image }}" alt="{{ book.judul }}" class="w-40 h-70"/>
                    </div>
                    {% endfor %}
                    <div class="w-100 mx-4">
                        <h3 class="font-bold text-xl text-dark mt-5 mb-3">{{ book.judul }}</h3>
                        <h2 class="font-semibold text-dark">{{ book.genre }}</h2>
                        <p class="font-light text-base text-dark">{{ book.deskripsi|truncatechars:200 }}</p>
                    </div>
                    <div>
                        <form action="{% url 'base:toggle_favorite' book.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="text-gray-500 hover:text-yellow-300 focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="{% if book.is_favorite %}yellow{% else %}none{% endif %}" 
                                    stroke="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                                    <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.86L12 17.77l-6.18 3.23L7 14.14l-5-4.87 6.91-1L12 2z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p class="text-center text-gray-500">Tidak ada buku yang tersedia.</p>
        {% endfor %}
    </div>
</section>
{% endblock content %}